<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Post列表</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
		<div id="page-wrapper" class="gray-bg">
        	<div class="border-bottom" th:include="header :: headerTop"></div>
      		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
		   		<div class="col-lg-10">
		     		<h2>Post管理</h2>
		          	<ol class="breadcrumb">
			            <li>
			            	<a href="#">首页</a>
			            </li>
			            <li>
			            	<a>内容管理</a>
			         	</li>
			          	<li class="active">
			             	<strong>Post管理</strong>
			          	</li>
					</ol>
		      	</div>
		      	<div class="col-lg-2">
		      	</div>
		  	</div>
		  	
        	<div class="wrapper wrapper-content animated fadeInRight">
            	<div class="row">
	            	<div class="col-lg-12">
		            	<div class="ibox float-e-margins">
		                    <div class="ibox-title">
		                        <h5>搜索&amp;操作</h5>
		                        <div class="ibox-tools">
		                            <a class="collapse-link">
		                                <i class="fa fa-chevron-up"></i>
		                            </a>
		                        </div>
		                    </div>
		                    <div class="ibox-content" style="display: block;">
		                    	<form action="post_0_0_0">
		                        <div class="row">
	                            	<div class="col-sm-3 m-b-xs">
	                            		<input id="title" name="title" placeholder="文章标题" class="form-control" type="text" th:value="${post.title}"/>
	                                </div>
	                                <div class="col-sm-3 m-b-xs">
										<select name="target" id="target" class="form-control" >
											<option value="0" th:selected="${post.target==0}">--请选择分类--</option>
											<option th:each="target : ${post_targets}" th:value="${target.id}" th:text="${target.name}" th:selected="${target.id==post.target}">分类</option>
										</select>
	                                </div>
	                                <div class="col-sm-2 m-b-xs">
	                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>搜索</strong></button>
	                                </div>
	                            </div>
	                             </form>
	                            <div class="row">
		                            <div class="col-sm-6 m-b-xs">
					                    <a th:href="@{/postUpdate}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh inbox"><i class="fa fa-plus">

										</i>&nbsp;&nbsp;&nbsp;&nbsp;添加POST&nbsp;&nbsp;&nbsp;&nbsp;</a>
					                </div>
					                <div class="col-sm-6 m-b-xs">
	                             	</div>
					       		</div>
		                  
		                   </div>
	                	</div>
                	</div>
                	<div class="col-lg-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-title">
	                            <h5>POST列表</h5>
	                            <div class="ibox-tools">
	                                <a class="collapse-link">
	                                    <i class="fa fa-chevron-up"></i>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="ibox-content">
	                            <div class="table-responsive">
	                                <table class=" table table-hover" data-page-size="10">
	                                    <thead>
		                                    <tr>
		                                    	<th width="5%">ID</th>
		                                        <th width="25%">标题 </th>
		                                        <th width="10%">分类</th>
		                                        <th width="15%">时间</th>
												<th width="8%"> 浏览</th>
												<th width="8%"> 评论</th>
												<th width="8%"> 点赞</th>

		                                        <th width="10%">发布状态</th>
		                                        <th>操作</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="post : ${posts}">

										   		<td th:text="${post.id}">Onions</td>
										      	<td th:text="${post.title}">Onions</td>
										      	<td th:text="${post.targetName}">Onions</td>
										      	<td th:text="${post.addDate}">Onions</td>

												<td th:text="${post.browses}">Onions</td>
												<td th:text="${post.comments}">Onions</td>
												<td th:text="${post.likes}">Onions</td>

										      	<td>
													<a th:onclick="'javascript:updateState('+${post.id}+',1);'"
													   th:if="${post.enabled} == 0">发布</a>

													<a th:onclick="'javascript:updateState('+${post.id}+',0);'"
													   th:if="${post.enabled }== 1">取消</a>
										      	</td>
										      	<td>
										      		<a th:href="@{'postUpdate?id='+${post.id}}" title="预览/修改">
														<i class="fa fa-edit text-navy"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
										      		<a href="#" th:onclick="'javascript:updateState('+${post.id}+',2);'" title="删除">
														<i class="fa fa-trash-o text-navy"></i></a>
										      	</td>
											</tr>
	                                    </tbody>
	                                   	<tfoot>
			                                <tr>
			                                    <td colspan="9">
			                                        <ul id="pageHTML" class="pagination pull-right"></ul>
			                                    </td>
			                                </tr>
		                                </tfoot>
	                                </table>
			                	</div>
	                        </div>
	           			</div>
                	</div>
            	</div>
        	</div>
        	<div class="footer" th:include="footer :: copyright"></div>
      	</div>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
	
	<!-- FooTable -->
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    
    <!-- common -->
    <script th:src="@{/js/common.js}"></script>

    <script th:inline="javascript">
	    var pageHTML = [[${pageHTML}]];
		$(document).ready(function () {
			$("#pageHTML").html(pageHTML);
		});
	
    	/*<![CDATA[*/
		function updateState(id,state){
    		var deleteTag;
    		if(state==2){
    			deleteTag = confirm("确定删除此条信息?");
    		} else {
    			deleteTag = true;
    		}
			if(deleteTag){
		 		$.ajax({
		      		type: "POST",
		           	url: "postDel?id="+id,
		           	contentType: "application/json; charset=utf-8",
		        	success: function(msg){
		        		 window.location.reload();
		       		},
		     		error: function(){
		     			alert("系统异常！");
		       		}
				});
			}
		}
		/*]]>*/
    </script>

</body>

</html>
